
a {
text-decoration: none;
}

.container {
border: 2px solid;
background-color: purple;
}

ul li {
border: 1px solid black;
background-color: purple;
}

.c2 {
background-color: silver;
}

.c2 ul {
display: block;
position: relative;
}

.c2 ul li {
float: left;
overflow: hidden;
padding: 10px 15px;
}

.c2 > ul{
margin: 0;
padding: 0;
overflow: hidden;
}

.c2 ul li > ul {
display: none;
}

.c2 ul > li:hover > ul {
display: block;
position: fixed;

}
.c2 ul > li:hover > ul > li {
display: inline;
}

.content {
clear: both;
background-color: green;
}

